@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

body {
  @apply bg-gray-900 text-gray-100;
}

* {
  scrollbar-width: thin;
  scrollbar-color: theme('colors.gray.700') theme('colors.gray.900');
}

*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: theme('colors.gray.900');
}

*::-webkit-scrollbar-thumb {
  background-color: theme('colors.gray.700');
  border-radius: 4px;
}